*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.todoForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;

}
.todoInput{
    max-width: 400px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid gray;
    padding: 10px;
    height: 40px;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 17px;
}
.addBtn{
    max-width: 400px;
    width: 100%;
    background-color: blue;
    padding: 10px;
    color: white;
    margin-top: 10px;
    border: 1px solid transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    cursor: pointer;
}
.addBtn:hover{
    background-color:rgba(0,0,225,.7);
    border: 1px solid blue;
}
ul{
    list-style: none;
    padding: 0;

}
ul li {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 5px;
}
.itemName{
    font-size: 17px;
    margin-right: 5px;
    text-transform: capitalize;
}
.deleteBtn{
    background-color: transparent;
    font-weight: 800;
    padding: 8px 15px;
    color: red;
    border: 2px solid red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
}
